#board {
  display: flex;
  height: 100%;
}

#board .player-list {
  min-width: 15rem;
}

#board .board {
  margin: 1rem 1rem 1rem 0;
  flex: 4;
  display: grid;
  grid-gap: 1rem;
}

#board .board-liberal, #board .board-fascist {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--main-red);
  border-radius: 0.2rem;
  text-align: center;
}

#board .policies {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
}