#board {
  display: flex;
  height: 100%;
}

#board .board {
  margin: 1rem 1rem 1rem 0;
  flex: 4;
  display: grid;
  grid-gap: 0.5rem;
  grid-auto-rows: min-content;
}

#board .liberal-board, #board .fascist-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--main-red);
  border-bottom: 2px solid var(--main-red);
  border-radius: 0.2rem;
  text-align: center;
}

#board .policies {
  flex: 1;
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

#board .liberal-policies {
  grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
}

#board .liberal-policies::before {
  content: "";
}

#board .fascist-policies {
  grid-template-columns: repeat(6, 1fr);
}

#board .election-tracker {
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

#board .election-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--main-light);
}

#board .election-counter.active {
  background: var(--main-red);
}

#board .rules-settings {
  margin: 1rem 1rem 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}