#landing-page {
  flex: 1;
  background: url('/assets/landing-background.jpg');
  background-size: cover;
}

#landing-page img {
  width: 5rem;
  cursor: pointer;
}

#landing-page .avatar {
  padding: 1rem;
}

#landing-page .active.avatar {
  background: rgba(243, 54, 54, 0.6);
  border-radius: 50%;
}

#landing-page h2 {
  background: var(--main-brown);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

#landing-page button, #landing-page input {
  width: 100%;
}

#landing-page .avatar-carousel {
  display: flex;
  overflow: scroll;
  align-items: center;
  margin-bottom: 2rem;
}

#landing-page form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  width: 80%;
  max-width: 35em;
  padding: 5rem;
  margin: 1rem;
  text-align: center;
}

#landing-page .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

