#landing-page {
  flex: 1;
  background: url('/assets/landing-background.jpg');
  background-size: cover;
}

#landing-page img {
  width: 5rem;
  cursor: pointer;
}

#landing-page .avatar {
  padding: 1rem;
}

#landing-page .active.avatar {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

#landing-page h2 {
  background: var(--main-brown);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

#landing-page button, #landing-page input {
  max-width: 15rem;
}

#landing-page .avatar-carousel {
  display: flex;
  overflow: scroll;
  align-items: center;
}

.background-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.meta-buttons {
  text-align: center;
  display: grid;
  grid-gap: 2rem;
  justify-items: center;
}