.player-list-item {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  grid-template-columns: min-content 1fr;
  background: var(--light-brown);
  border-radius: 0.5rem;
}

.player-list-item img {
  max-width: 4rem;
}